<!DOCTYPE html>
<html lang="en" ng-app="wsCalcApp">
<head>
	<meta charset="UTF-8">
	<title>Waitstaff Calculator</title>
	<!-- Script -->
	<script type="text/javascript" src="bower_components/angular/angular.min.js"></script>
	<script type="text/javascript" src="bower_components/angular-messages/angular-messages.min.js"></script>
	<script type="text/javascript" src="bower_components/angular-route/angular-route.min.js"></script>
	<script type="text/javascript" src="bower_components/angular-animate/angular-animate.js"></script>
	<script type="text/javascript" src="js/index.js"></script>
	<!-- Style -->
	<link rel="stylesheet" type="text/css" href="css/index.css">
</head>

<body>

	<section id="heading">
		<h1>Waitstaff Calculator</h1>
	</section>

	<nav ng-controller="navCtrl">
		<a href="#/" ng-class="{active: view == 1}" ng-click="view = 1">Home</a>
		<a href="#/new-meal" ng-class="{active: view == 2}" ng-click="view = 2">New Meal</a>
		<a href="#/my-earnings" ng-class="{active: view == 3}" ng-click="view = 3">My Earnings</a>
	</nav>

	<div class="animate-view-container">
		<div ng-view class="animate-view">
			<!-- templateURL -->
		</div>
	</div>

</body>
</html>